*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 2rem;
  border-radius: 7px;
}

.age-box{
    margin: 1.5rem auto;
}

:is(input, button){
    margin-top: 1rem ;
    padding: .3rem; 
}

